.schedule {
    display: flex;
    left: 20px;
    bottom: 100px;
    position: absolute;
    z-index: 25;
}

.schedule button {
    width: 70px;
    height: 70px;
    background-color: var(--orange-color);
    border: none;
    border-radius: 50%;
    box-shadow: var(--box-shadow-template);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.flood-btn {
    text-decoration: none;
    margin: 0 10px;
}

.flood-btn button{
    width: fit-content !important;
    border-radius: 10vw !important;
    padding: 0 20px !important;
    color: white;
    font-size: 16px;
    background-color: #0398fc;
}

.flood-btn button img{
    margin-right: 12px;
}

.schedule button img {
    width: 40px;
    padding: 3px 0 0 5px;
}

.timeSchedule {
    display: flex;
    justify-content: space-around;
}

.headSchedule {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
}

.leftSchedule,
.rigitSchedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media (max-width: 768px) {
    .schedule {
        left: 20px;
        bottom: 70px;
    }

    .timeSchedule {
        display: flex;
        flex-direction: column;
    }

    .leftSchedule table {
        width: 200px;
    }
}