.footer{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 8vh;
    position: absolute;
    justify-content: center;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: nowrap;
    background-color: var(--background-sidebar);
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.4);
}
.box-car{
    width: 200px;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
    color: var(--orange-color);
    border-radius: 10px;
    border: 3px solid var(--orange-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}