.footer{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 8vh;
    position: absolute;
    justify-content: center;
    bottom: 10px;
}
.box-car{
    width: 200px;
    margin: 10px;
    background-color: bisque;
}