.footerDesktop{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 8vh;
    position: absolute;
    justify-content: center;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: nowrap;
    background-color: var(--background-sidebar);
    box-shadow: var(--box-shadow-bottom);
}

.footerMobile{
    display: none;
    flex-direction: row;
    width: 100vw;
    height: 8vh;
    position: absolute;
    justify-content: center;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: nowrap;
    background-color: var(--background-sidebar);
    box-shadow: var(--box-shadow-bottom);
}

.box-car{
    width: 200px;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
    color: var(--orange-color);
    border-radius: 10px;
    border: 3px solid var(--orange-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.box-car.active {
    color: white;
    background-color: var(--orange-color);
}

.selectCar {
    width: 80%;
    padding: 10px;
    border: 2px solid var(--orange-color);
    border-radius: 5px;
    color: var(--orange-color);
    font-size: 18px;
    font-weight: 500;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }

 /* .selectCar option label {
    width: 10px;
    
  } */
  
  /* .selectCar:focus {
    outline: none;
  } */

@media (max-width: 768px) {
    .footerDesktop {
        display: none;
    }

    .footerMobile {
        top: 0;
        display: flex;
    }
}